h1 {
    color: black;
    font-family: Luminari, fantasy;
}
h2.red {
    color: red;
    border-bottom:2px dashed rgb(231, 50, 26);
}

h2.blue {
    color: blue;
}

#h2-special {
    border: 2px solid green;
}

#underlined-text {
    border-bottom:2px dashed rgb(231, 50, 26);
    }

span {
    border:1px doucle red;
    padding:3px;
    }

.contents-items a {
    display: block;
}

#framed-text {
    border-width:3px;
    border-style:double;
    border-color:black;
    }