h1 {
    color: #FAFAFA;
    font-family: Luminari, fantasy;
    border-width:3px;
    border-style:groove;
    border-color:#FE4B4B;
    background-color: #F79F95;
}
h2.clair {
    color: #F79F95;
    border-bottom:2px dashed #FBBFB8;
}

h2.foncé {
    color: #F36D8F;
    border-bottom:2px dashed #F36D8F;
}

h2.special {
    color: #F38071;
}

#underlined-text {
    border-bottom:2px dashed rgb(231, 50, 26);
    }

span {
    border:1px double red;
    padding:3px;
    }

.contents-items a {
    display: block;
}

#framed-text {
    border-width:3px;
    border-style:double;
    border-color:black;
    }
img {
    border-radius: 40px;
}